@import './_variables';
@import url('https://fonts.googleapis.com/css?family=Lato|Zilla+Slab');

body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0px;

	width: 100%;

	overflow-x: hidden;

	@media @extra-small-max {
		display: block;
	}
}

.main {
	width: 100%;
	max-width: 1000px;

	@media @extra-small-max {
		width: 90%;
		margin-left: 5%;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Zilla Slab', serif;
}

p, li, label, input, textarea {
	font-family: 'Lato', sans-serif;
}

button {
	box-shadow: @darkred 2px 2px 2px 0px inset;
	
	color: white;

	background: -webkit-linear-gradient(@red 5%, @darkred 100%) @red;
	background: -o-linear-gradient(@red 5%, @darkred 100%) @red;
	background: linear-gradient(@red 5%, @darkred 100%) @red;
	
	border-radius: 3px;
	border: 1px solid @darkred;

	padding: 5px 10px;

	cursor: pointer;

	outline: none;

	&:active {
		background: -webkit-linear-gradient(@darkred 5%, @red 100%) @darkred;
		background: -o-linear-gradient(@darkred 5%, @red 100%) @darkred;
		background: linear-gradient(@darkred 5%, @red 100%) @darkred;

		color: rgba(255,255,255,0.9);

		letter-spacing: -.1px;
	}
}